<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoperincorp.android.fitnesschallenge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".frames.challengesFrame">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.challengemenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".frames.newChallengeFrame"
            android:label="Create new challenge">
            <intent-filter>
                <action android:name="android.intent.action.newchallenge" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".frames.currentChallengeFrame"
            android:label="Track your challenge">
            <intent-filter>
                <action android:name="android.intent.action.trackchallenge" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".frames.historyFrame"
            android:label="History">
            <intent-filter>
                <action android:name="android.intent.action.historychallenge" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".frames.historyChallenge"
            android:label="History">
            <intent-filter>
                <action android:name="android.intent.action.currenthistory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".frames.captionsFrame"
            android:label="Special Thanks!">
            <intent-filter>
                <action android:name="android.intent.action.captions" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>